.book-detail {
  max-width: 600px;
  margin: 40px auto;
}

.mat-card {
  margin-bottom: 20px;
}

.mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

.mat-card-subtitle {
  font-size: 16px;
  color: #666;
}

.mat-card-content {
  padding: 20px;
}

.mat-card-content p {
  margin-bottom: 10px;
}

.mat-card-content strong {
  font-weight: bold;
  margin-right: 10px;
}
