<main class="main">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Publisher(s)</th>
        <th>ISBN</th>
      </tr>
    </thead>
    <tbody class="table__body">
      <tr>
        <td>OCP: Oracle9i Certification Kit</td>
        <td>Chip Dawes, Biju Thomas, Doug Stuns, Matthew Weishan, Joseph C. Johnson</td>
        <td>Sybex</td>
        <td>0782140661</td>
      </tr>
      <tr>
        <td>SQL Server 2000 for Experienced DBA&apos;s</td>
        <td>Brian Knight</td>
        <td>McGraw-Hill Osborne Media</td>
        <td>0072227885</td>
      </tr>
    </tbody>
  </table>
</main>
