/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  text-rendering: optimizelegibility;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
